<div class="d-flex">
  <app-sidebar
    (result)="setResult($event)">
  </app-sidebar>
  <div class="container">
    <div class="row p-3">
      <app-busqueda
        [titlePage]="titlePage"
        [path]="'character'"
        [placeholder]="'Buscar Personaje'"
        [query]="'?name='"
        (result)="setResult($event)">
      </app-busqueda>
    </div>
      <hr />
      <div class="row">
        <div *ngIf="result.length > 0" class="col">
          <app-resultados
            [listResult]="result">
          </app-resultados>
        </div>
    </div>
  </div>
</div>
