<div class="d-flex" >
  <app-sidebar>
  </app-sidebar>
  <div class="container">
    <h1>Rick and Morty</h1>
      <hr />
      <div class="row">
        <p>Esta aplicación utiliza los datos de la API REST de Rick and Morty creada por
          Axel Furhrmann y Talita.Te permitira buscar personajes y episodios
          de Rick and Morty.
        </p>
        <div class="cont-btn">
          <div class="objetfitcover">
            <img src='assets/img/fondo.png' [routerLink]="['character']">
            <p class="title-btn">Personajes</p>
          </div>
          <div class="objetfitcover">
            <img src='assets/img/episodes.jpg' [routerLink]="['episodes']">
            <p class="title-btn">Episodios</p>
          </div>
        </div>
    </div>
  </div>

</div>

